body{
    background-color: #a5a5a5;
    }
    h1{
        color: #000134;
        font-size: 40px;
        background-color: white;
        /* align-items: center; */
        text-align: center;
    }
    h2{
        color: blue;
        font-size: 25px;
    }
    .absaz1 {
        color: green;
        font-size: 25px;
    }
    p {
        color: rgb(0, 10, 61);
        font-size: 25px;
    }
    button{
    background-color: #000325; 
    color: #fff; 
    }
    .erste {
        width: 80%;
        background: #B2D235; 
    padding: 40px; 
    outline: 2px solid #fff; 
    outline-offset: -20px; /
    }
  </style>
 </head>
 <body>
  <p>
   <button class="btn">Кнопка</button>
   <button class="btn">Кнопка</button>
   <button class="btn">Кнопка</button>
  </p>
 </body>
</html>