body{
    background-color: #a5a5a5;
    }
    h1{
        color: #000134;
        font-size: 40px;
    }
    h2{
        color: blue;
        font-size: 25px;
    }
    p{
        color: #1c5904;
        font-size: 20px; 
    }
        
    