body{
    background-color: #a5a5a5;
    }
    h1{
        color: #000134;
        font-size: 40px;
    }
    h2{
        color: blue;
        font-size: 25px;
    }
    p absaz1 {
        color: green;
        font-size: 25px;
    }
    